body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("birthday_shinta.jpg");

  /* Set a specific height */
  height: 70%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.navbar-brand {
  color: pink;
}

main, footer {
    text-align: center;
}

.pink {
  color: pink;
}

main ul {
  list-style-position: inside;
}

h2 {
  margin: 1em;
}

.no_bullets {
    list-style-type: none;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  margin: 1em;
  width: 100%;
  height: auto;
}

.active {
  color: pink;
}

main ul {
    padding-left: 0;
}

main ul li {
  width: 80%;
  margin: auto;
}
